.exhibitionInfo {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.exhibitionInfo .thumbnailBox {
    display: block;
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.exhibitionInfo dl {
    margin-left: 20px;
    line-height: 1.2;
}

.exhibitionInfo dl dt  {
    font-size: 2rem;
}

.exhibitionInfo dl dt a {
    display: block;
    color: #888;
    text-decoration: underline;
}

.exhibitionInfo dl dd {
    /* display: flex;
    align-items: center; */
    font-size: 1.6rem;
    word-break: keep-all;
}

.exhibitionInfo dl dd:nth-child(n+2) {
    margin-top: 15px;
}

.exhibitionInfo dl dd:nth-child(2) {
    margin-top: 2px;
    font-size: 1.4rem;   
}

.exhibitionInfo dl dd .imgBox {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.exhibitionInfo dl dd span {
    padding: 8px 15px;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 10px;
}

.exhibitionInfo dl dd span:nth-child(n+2) {
    margin-left: 10px;
}

.exhibitionInfo dl dd a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.inner {
    position: relative;
    width: 100%;
    height: calc(100% - 240px);
    padding: 0;
    overflow-y: auto;
}

.inner::-webkit-scrollbar {
    width: 10px;
}

.inner::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

.meetingTargetList {
    position: relative;
    width: 100%;
}

.meetingTargetList li {
    position: relative;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #888;
}

.meetingTargetList li a {
    display: block;
    width: 100%;
    height: 100%;
}

.meetingTargetList li a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: block;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background-color: #f1f1f1;
    border-radius: 20px;
    z-index: -1;
}

.meetingTargetList li dl dt {
    display: inline-block;
    max-width: 350px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 2.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.meetingTargetList li dl dd {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 10px;
}

.meetingTargetList li dl dd.creater {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 0;
    font-size: 2.2rem;
}

.meetingTargetList li dl dd.creater .imgBox {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 100%;
}

.freePrice { background-color: #87CEEB; }

.theatre { background-color: #6A0DAD; }
.exhibition { background-color: #4B0082; }
.etc { background-color: #7F8C8D; }
.dance { background-color: #FF6F61; }
.music { background-color: #008080; }

.Seoul { background-color: #009DDC; }
.Gyeonggi { background-color: #7EBA43; }
.Sejong { background-color: #4169E1; }
.Daejeon { background-color: #FFD400; }
.Daegu { background-color: #EF426F; }
.Busan { background-color: #0078C3; }
.Gwangju { background-color: #9B59B6; }
.Jeju { background-color: #FF7F00; }
.Gangwon { background-color: #3CB371; }
.Gyungnam { background-color: #2E8B57; }
.Gyungbok { background-color: #DAA520; }
.Ulsan { background-color: #4682B4; }
.Incheon { background-color: #00BFFF; }
.Jeonnam { background-color: #228B22; }
.Jeonbok { background-color: #32CD32; }
.Chungnam { background-color: #8B4513; }
.Chungbuk { background-color: #556B2F; }

@media all and (max-width :1510px) {
    .exhibitionInfo {
        padding: 0 15px;
    }

    .inner {
        padding: 0 15px;
    }
}

@media all and (max-width :615px) {
    .exhibitionInfo dl dt {
        word-break: keep-all;
        font-size: 1.6rem;
    }
    .exhibitionInfo dl dd {
        font-size: 1.1rem;
    }

    .exhibitionInfo dl dd span {
        padding: 5px 10px;
        font-size: 1.2rem;
    }

    .meetingTargetList li dl dt {
        font-size: 1.8rem;
    }

    .meetingTargetList li dl dd {
        font-size: 1.2rem;
    }

    .meetingTargetList li dl dd.creater {
        font-size: 1.6rem;
    }
}

@media all and (max-width :499px) {
    .exhibitionInfo .thumbnailBox {
        width: 30vw;
        height: 35vw;
    }

    .meetingTargetList li dl dt {
        max-width: 220px;
        font-size: 1.4rem;
    }

    .meetingTargetList li dl dd {
        font-size: 1rem;
    } 

    .meetingTargetList li dl dd.creater .imgBox {
        width: 30px;
        height: 30px;
    }

    .meetingTargetList li dl dd.creater {
        font-size: 1.2rem;
    }
}