#sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 248px;
    border-right: 2px solid #000;
    height: 100%;
}

#sideMenu.dark {
    border-color: #666666;
}

#sideMenu .myInfo {
    padding: 60px 20px 20px 20px;
    border-bottom: 2px solid #000;
}

#sideMenu.dark .myInfo {
    border-color: #666666;
}

#sideMenu .myInfo h3 {
    position: relative;
    display: flex;
    align-items: flex-end;
    line-height: 1.2;
    font-size: 2.6rem;
}

#sideMenu.dark .myInfo h3 {
    color: #666666;
}

#sideMenu .myInfo h3 .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
}

#sideMenu.dark .myInfo h3 .imgBox {
    border-color: #666666;
}

#sideMenu .myInfo h3 .imgBox svg {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
}

#sideMenu .myInfo dt a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #888;
}

#sideMenu .myInfo dd {
    padding-right: 10px;
}

#sideMenu .myInfo dd p {
    line-height: 1.2;
    font-size: 1.6rem;
    word-break: keep-all;
}

#sideMenu .myInfo input {
    display: none;
    width: 100%;
    padding: 5px;
    font-size: 1.6rem;
    border: 1px solid #000;
    border-radius: 5px;
}

#sideMenu .myInfo .accountList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #888;
    font-size: 1rem;
    text-align: right;
}

#sideMenu .myInfo .accountList li:nth-child(n+2) {
    position: relative;
    margin-left: 15px;
}

#sideMenu .myInfo .accountList li:nth-child(n+2):before {
    content: "";
    position: absolute;
    top: 50%;
    left: -7.5px;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: calc(100% - 4px);
    background-color: #888;
}

#sideMenu .myInfo .accountList li a {
    position: relative;
    font-size: 1.2rem;
}

#sideMenu .myInfo .btnLogin {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background-color: #3C00EE;
    border-radius: 5px;
}

#sideMenu .myInfo .btnList {
    display: flex;
    margin-top: 10px;
    /* display: none; */
}

#sideMenu .myInfo .btnList li:nth-child(n+2) {
    margin-left: 10px;
}

#sideMenu .myInfo .btnList li > button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.8rem;
}

#sideMenu .sideList {
    padding: 50px 0 0 20px;
    
}

#sideMenu .sideList li:nth-child(n+2) {
    margin-top: 30px;
}

#sideMenu .sideList li a {
    position: relative;
    display: inline-block;
    font-size: 2rem;
}

#sideMenu.dark .sideList li a {
    color: #666666;
}

#sideMenu .sideList li .length {
    position: absolute;
    top: -15px;
    right: -30px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    background-color: #000;
    border-radius: 100%;
}

#sideMenu.dark .sideList li .length {
    background-color: #666666;
}

/* #sideMenu .sideList li .length:before {
    content: "+";
    position: absolute;
    top: -7px;
    left: -10px;
    color: #000;
    font-size: 1.8rem;
} */

#sideMenu .sideList li a.active:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
}

#sideMenu.dark .sideList li a.active:after {
    background-color: #666666;
}

.utilList {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.utilList li:nth-child(n+2) {
    margin-left: 5px;
}

.utilList li .btnTheme {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 100%;
}

#sideMenu.dark .utilList li button {
    background-color: #666666;
}

.utilList li .btnTheme svg {
    width: 25px;
    height: 25px;
}

.utilList li .btnUser {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 100%;
}

#sideMenu.dark .utilList li .btnUser {
    color: #fff;
    border-color: #666666;
}

@media all and (max-width : 1495px) {
    #sideMenu {
        position: relative;
    }
}

@media all and (max-width : 860px) {
    #sideMenu {
        display: none;
    }
}