#wrapper {
    position: relative;
    width: 100%;
    height: 100dvh;
}

#wrapper.dark {
    background-color: #18181b;
}

#main {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: calc(100% - 80px);
    margin: 0 auto;
}

#section {
    position: relative;
    width: 850px;
    height: 100%;
    /* background-color: #f0f; */
    margin: 0 auto;
    /* padding-top: 20px; */
}

@media all and (max-width : 1495px) {
    #main {
        display: flex;
    }
    
    #section {
        display: inline-block;
        margin: 0;
        width: calc(100% - 250px);
        padding-top: 0;
    }
}

@media all and (max-width : 860px) {
    #main {
        display: block;
        height: calc(100% - 190px);
    }

    #section {
        width: 100%;
        border-bottom: 1px solid #000;
    }
}