

#toast {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#toast .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  max-width: 350px;
  min-height: 220px;
  max-height: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

#toast.dark .inner {
  color: #666666;
  background-color: #18181b;
  border: 1px solid #666666;
}

#toast .inner dl dt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
}
#toast .inner dl dt svg {
  width: 20px;
  height: 20px;
  margin: -4px 5px 0 0;
}
#toast .inner dl dd {
  display: block;
  line-height: 1.5;
  margin-top: 35px;
  font-size: 1.8rem;
  text-align: center;
  word-break: keep-all;
}
#toast .inner .btnList {
  display: flex;
  margin-top: 30px;
}
#toast .inner .btnList li:nth-child(n+2) {
  margin-left: 10px;
}
#toast .inner .btnList li button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 2rem;
  border: 1px solid #222;
  border-radius: 5px;
}

#toast.dark .inner .btnList li button {
  border-color: #666666;
}